<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>每日一笑</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>
		<center>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h2>每日一则笑话</h2>
      <div class="container">
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{data[0]['title']}}</h3>
        </div>
        <div class="panel-body">
          {{data[0]['content']}}
        </div>
      </div>
      </div>
      <div class="col-md-4">
      </div>
      </div>
      </div>
      <a class='btn btn-success' href="/index.htm">换一则</a>
		</center>
	</div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
  </body>
</html>